body {
  padding: 0;
  margin: 0;
}



.username {
    font-size: 20px;
    width:500px;
}

.messageInput {
    font-size: 15px;
    width:250px;
    height:40px;
    opacity:0.3;
}

input:focus {
    opacity: 1;
}


input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


button {
  background-color: #4CAF50;
  padding:15px 32px;
  border:none;
  color:white;
  text-align:center;
  text-decoration:none;
  display: inline-block;
  font-size:16px;
  width: 500px;
}


body {
  background: black;
  height: 100vh;
  width:100vw;
  overflow:hidden;
}
